/* Colors */
:root {
  --primary-900: #610404;
  --primary-800: #780a0a;
  --primary-700: #911111;
  --primary-600: #a61b1b;
  --primary-500: #ba2525;
  --primary-400: #d64545;
  --primary-300: #e66a6a;
  --primary-200: #f29b9b;
  --primary-100: #facdcd;
  --primary-50: #ffeeee;

  --secondary-900: #8d2b0b;
  --secondary-800: #b44d12;
  --secondary-700: #cb6e17;
  --secondary-600: #de911d;
  --secondary-500: #f0b429;
  --secondary-400: #f7c948;
  --secondary-300: #fadb5f;
  --secondary-200: #fce588;
  --secondary-100: #fff3c4;
  --secondary-50: #fffbea;

  --gray-900: #27241d;
  --gray-800: #423d33;
  --gray-700: #504a40;
  --gray-600: #625d52;
  --gray-500: #857f72;
  --gray-400: #a39e93;
  --gray-300: #b8b2a7;
  --gray-200: #d3cec4;
  --gray-100: #e8e6e1;
  --gray-50: #faf9f7;

  --teal-900: #044e54;
  --teal-800: #0a6c74;
  --teal-700: #0e7c86;
  --teal-600: #14919b;
  --teal-500: #2cb1bc;
  --teal-400: #38bec9;
  --teal-300: #54d1db;
  --teal-200: #87eaf2;
  --teal-100: #bef8fd;
  --teal-50: #e0fcff;

  --green-900: #2b4005;
  --green-800: #42600c;
  --green-700: #507712;
  --green-600: #63921a;
  --green-500: #7bb026;
  --green-400: #94c843;
  --green-300: #abdb5e;
  --green-200: #c7ea8f;
  --green-100: #e2f7c2;
  --green-50: #f2fde0;
}

/* Main Header */
.main-header {
  background: url(../images/bg-hero-xl.png) no-repeat center center;
  background-size: cover;
  padding-bottom: 10rem;
}

@media screen and (max-width: 992px) {
  .main-header {
    background: url(../images/bg-hero-md.png) no-repeat center center;
  }
}

.xl-text {
  font-size: 60px;
}

.main-header::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
}

.custom-max-width {
  max-width: 48rem;
}

@media (max-width: 992px) {
  .xl-text {
    font-size: 48px;
  }
}

@media (max-width: 576px) {
  .xl-text {
    font-size: 36px;
  }
}
.custom-letter-spacing {
  letter-spacing: 0.7px; /* Adjust the value as needed */
}
.custom-btn:hover {
  background-color: var(--primary-500);
}

/* Card */
.custom-card__title {
  font-size: 18px;
}
.custom-card__desc {
  font-size: 14px;
  margin-bottom: 8px;
}
.custom-card__booked {
  font-size: 12px;
  margin-bottom: 4px;
}

/* Testimonial */
.testimonial-username {
  font-size: 18px;
}
.testimonial-address {
  font-size: 16px;
}

.card {
  margin: 0 0.5em;
  box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
  border: none;
}
.carousel-control-prev,
.carousel-control-next {
  background-color: #e1e1e1;
  width: 6vh;
  height: 6vh;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}
@media (min-width: 768px) {
  .carousel-item {
    margin-right: 0;
    flex: 0 0 50%;
    display: block;
  }
  .carousel-inner {
    display: flex;
  }
}
@media (min-width: 1200px) {
  .carousel-item {
    margin-right: 0;
    flex: 0 0 33.333333%;
    display: block;
  }
  .carousel-inner {
    display: flex;
  }
}

.card .img-wrapper {
  max-width: 100%;
  height: 13em;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 767px) {
  .card .img-wrapper {
    height: 17em;
  }
}

/* Download App */
.btn-text__get {
  font-size: 12px;
  transform: translateY(3px);
}
.btn-text__platform {
  font-size: 16px;
  transform: translateY(-3px);
}
.donwload-app__header {
  @media (min-width: 992px) {
    text-transform: capitalize;
    line-height: 1.3;
    font-size: 4rem;
  }
}

.download-app__avatar-2 {
  transform: translateX(-20px);
}
.download-app__avatar-3 {
  transform: translateX(-40px);
}
.download-app__avatar-4 {
  transform: translateX(-60px);
}
.download-app__reviews {
  transform: translateX(-40px);
}

/* Text Color */

/* Primary */
.text-primary-900 {
  color: var(--primary-900);
}
.text-primary-800 {
  color: var(--primary-800);
}
.text-primary-700 {
  color: var(--primary-700);
}
.text-primary-600 {
  color: var(--primary-600);
}
.text-primary-500 {
  color: var(--primary-500);
}
.text-primary-400 {
  color: var(--primary-400);
}
.text-primary-300 {
  color: var(--primary-300);
}
.text-primary-200 {
  color: var(--primary-200);
}
.text-primary-100 {
  color: var(--primary-100);
}
.text-primary-50 {
  color: var(--primary-50);
}

/* Secondary */
.text-secondary-900 {
  color: var(--secondary-900);
}
.text-secondary-800 {
  color: var(--secondary-800);
}
.text-secondary-700 {
  color: var(--secondary-700);
}
.text-secondary-600 {
  color: var(--secondary-600);
}
.text-secondary-500 {
  color: var(--secondary-500);
}
.text-secondary-400 {
  color: var(--secondary-400);
}
.text-secondary-300 {
  color: var(--secondary-300);
}
.text-secondary-200 {
  color: var(--secondary-200);
}
.text-secondary-100 {
  color: var(--secondary-100);
}
.text-secondary-50 {
  color: var(--secondary-50);
}

/* Gray */
.text-gray-900 {
  color: var(--gray-900);
}
.text-gray-800 {
  color: var(--gray-800);
}
.text-gray-700 {
  color: var(--gray-700);
}
.text-gray-600 {
  color: var(--gray-600);
}
.text-gray-500 {
  color: var(--gray-500);
}
.text-gray-400 {
  color: var(--gray-400);
}
.text-gray-300 {
  color: var(--gray-300);
}
.text-gray-200 {
  color: var(--gray-200);
}
.text-gray-100 {
  color: var(--gray-100);
}
.text-gray-50 {
  color: var(--gray-50);
}

/* Teal */
.text-teal-900 {
  color: var(--teal-900);
}
.text-teal-800 {
  color: var(--teal-800);
}
.text-teal-700 {
  color: var(--teal-700);
}
.text-teal-600 {
  color: var(--teal-600);
}
.text-teal-500 {
  color: var(--teal-500);
}
.text-teal-400 {
  color: var(--teal-400);
}
.text-teal-300 {
  color: var(--teal-300);
}
.text-teal-200 {
  color: var(--teal-200);
}
.text-teal-100 {
  color: var(--teal-100);
}
.text-teal-50 {
  color: var(--teal-50);
}

/* green */
.text-green-900 {
  color: var(--green-900);
}
.text-green-800 {
  color: var(--green-800);
}
.text-green-700 {
  color: var(--green-700);
}
.text-green-600 {
  color: var(--green-600);
}
.text-green-500 {
  color: var(--green-500);
}
.text-green-400 {
  color: var(--green-400);
}
.text-green-300 {
  color: var(--green-300);
}
.text-green-200 {
  color: var(--green-200);
}
.text-green-100 {
  color: var(--green-100);
}
.text-green-50 {
  color: var(--green-50);
}

/* ---Background Color---- */

/* Primary */
.bg-primary-900 {
  background-color: var(--primary-900);
}
.bg-primary-800 {
  background-color: var(--primary-800);
}
.bg-primary-700 {
  background-color: var(--primary-700);
}
.bg-primary-600 {
  background-color: var(--primary-600);
}
.bg-primary-500 {
  background-color: var(--primary-500);
}
.bg-primary-400 {
  background-color: var(--primary-400);
}
.bg-primary-300 {
  background-color: var(--primary-300);
}
.bg-primary-200 {
  background-color: var(--primary-200);
}
.bg-primary-100 {
  background-color: var(--primary-100);
}
.bg-primary-50 {
  background-color: var(--primary-50);
}

/* Secondary */
.bg-secondary-900 {
  background-color: var(--secondary-900);
}
.bg-secondary-800 {
  background-color: var(--secondary-800);
}
.bg-secondary-700 {
  background-color: var(--secondary-700);
}
.bg-secondary-600 {
  background-color: var(--secondary-600);
}
.bg-secondary-500 {
  background-color: var(--secondary-500);
}
.bg-secondary-400 {
  background-color: var(--secondary-400);
}
.bg-secondary-300 {
  background-color: var(--secondary-300);
}
.bg-secondary-200 {
  background-color: var(--secondary-200);
}
.bg-secondary-100 {
  background-color: var(--secondary-100);
}
.bg-secondary-50 {
  background-color: var(--secondary-50);
}

/* Gray */
.bg-gray-900 {
  background-color: var(--gray-900);
}
.bg-gray-800 {
  background-color: var(--gray-800);
}
.bg-gray-700 {
  background-color: var(--gray-700);
}
.bg-gray-600 {
  background-color: var(--gray-600);
}
.bg-gray-500 {
  background-color: var(--gray-500);
}
.bg-gray-400 {
  background-color: var(--gray-400);
}
.bg-gray-300 {
  background-color: var(--gray-300);
}
.bg-gray-200 {
  background-color: var(--gray-200);
}
.bg-gray-100 {
  background-color: var(--gray-100);
}
.bg-gray-50 {
  background-color: var(--gray-50);
}

/* Teal */
.bg-teal-900 {
  background-color: var(--teal-900);
}
.bg-teal-800 {
  background-color: var(--teal-800);
}
.bg-teal-700 {
  background-color: var(--teal-700);
}
.bg-teal-600 {
  background-color: var(--teal-600);
}
.bg-teal-500 {
  background-color: var(--teal-500);
}
.bg-teal-400 {
  background-color: var(--teal-400);
}
.bg-teal-300 {
  background-color: var(--teal-300);
}
.bg-teal-200 {
  background-color: var(--teal-200);
}
.bg-teal-100 {
  background-color: var(--teal-100);
}
.bg-teal-50 {
  background-color: var(--teal-50);
}

/* green */
.bg-green-900 {
  background-color: var(--green-900);
}
.bg-green-800 {
  background-color: var(--green-800);
}
.bg-green-700 {
  background-color: var(--green-700);
}
.bg-green-600 {
  background-color: var(--green-600);
}
.bg-green-500 {
  background-color: var(--green-500);
}
.bg-green-400 {
  background-color: var(--green-400);
}
.bg-green-300 {
  background-color: var(--green-300);
}
.bg-green-200 {
  background-color: var(--green-200);
}
.bg-green-100 {
  background-color: var(--green-100);
}
.bg-green-50 {
  background-color: var(--green-50);
}
